* {
    margin: 0;
}

body {

    box-sizing: border-box;
    padding: 30px;
    width: 100vw;
    color: aliceblue;
    background-color: #231F20;
}

#linkImage {
    width: 50vw;
}

#imgContainer {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

h1 {
    text-align: center;
}